# 볼린저 밴드
1. 파일로드
2. 결측치 이상치 제거 
3. 시간, 종가만의 데이터프레임 생성
4. 이동 평균선 : 데이터 20개 평균 구해서 새로운 파생변수 대입 
5. 상단 밴드 : 이동평균선 + (2 * 데이터 20개의 표준편차)
6. 하단 밴드 : 이동평균선 - (2 * 데이터 20개의 표준편차)
7. 구매 상태를 확인하는 파생변수 생성
8. 구매 상태 입력
9. 수익률 계산

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../csv/GM.csv', index_col='Date')
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-11-18  35.000000  35.990002  33.889999  34.189999  27.027195  457044300
2010-11-19  34.150002  34.500000  33.110001  34.259998  27.082527  107842000
2010-11-22  34.200001  34.480000  33.810001  34.080002  26.940243   36650600
2010-11-23  33.950001  33.990002  33.189999  33.250000  26.284130   31170200
2010-11-24  33.730000  33.799999  33.220001  33.480000  26.465942   26138000

In [4]:
df = df.loc[~df.isin((np.nan, np.inf, -np.inf)).any(axis='columns')]
df

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-11-18  35.000000  35.990002  33.889999  34.189999  27.027195  457044300
2010-11-19  34.150002  34.500000  33.110001  34.259998  27.082527  107842000
2010-11-22  34.200001  34.480000  33.810001  34.080002  26.940243   36650600
2010-11-23  33.950001  33.990002  33.189999  33.250000  26.284130   31170200
2010-11-24  33.730000  33.799999  33.220001  33.480000  26.465942   26138000
...               ...        ...        ...        ...        ...        ...
2019-06-18  36.380001  36.779999  36.139999  36.700001  36.700001    8226900
2019-06-19  37.000000  37.470001  36.750000  36.779999  36.779999   10884800
2019-06-20  37.150002  37.310001  36.490002  36.959999  36.959999    8639700
2019-06-21  36.959999  37.099998  36.650002  36.919998  36.919998   13003900
2019-06-24  36.830002  37.049999  36.584202  36.814999  36.814999    2529729

[2162 rows x 6 columns]

In [12]:
price_df =df[['Adj Close']]
price_df.head(1)

            Adj Close
Date
2010-11-18  27.027195

In [13]:
price_df['center'] = 0

C:\Users\82104\AppData\Local\Temp\ipykernel_8164\3588516560.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['center'] = 0

In [16]:
# 이동 평균선 : 종가 데이터 20개의 평균값

price_df['center'] = price_df['Adj Close'].rolling(20).mean()

price_df['center']

C:\Users\82104\AppData\Local\Temp\ipykernel_8164\795703503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['center'] = price_df['Adj Close'].rolling(20).mean()

Date
2010-11-18          NaN
2010-11-19          NaN
2010-11-22          NaN
2010-11-23          NaN
2010-11-24          NaN
                ...
2019-06-18    35.249369
2019-06-19    35.251553
2019-06-20    35.340899
2019-06-21    35.449022
2019-06-24    35.552390
Name: center, Length: 2162, dtype: float64

In [24]:
price_df['ub'] = ub = price_df['center'] + (2 * price_df['Adj Close'].rolling(20).std())
# 5. 상단 밴드 : 이동평균선 + (2 * 데이터 20개의 표준편차)
# 6. 하단 밴드 : 이동평균선 - (2 * 데이터 20개의 표준편차)
price_df['lb'] = lb = price_df['center'] - (2 * price_df['Adj Close'].rolling(20).std())

price_df

C:\Users\82104\AppData\Local\Temp\ipykernel_8164\2363698383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['ub'] = ub = price_df['center'] + (2 * price_df['Adj Close'].rolling(20).std())
C:\Users\82104\AppData\Local\Temp\ipykernel_8164\2363698383.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['lb'] = lb = price_df['center'] - (2 * price_df['Adj Close'].rolling(20).std())

            Adj Close     center         ub         lb
Date
2010-11-18  27.027195        NaN        NaN        NaN
2010-11-19  27.082527        NaN        NaN        NaN
2010-11-22  26.940243        NaN        NaN        NaN
2010-11-23  26.284130        NaN        NaN        NaN
2010-11-24  26.465942        NaN        NaN        NaN
...               ...        ...        ...        ...
2019-06-18  36.700001  35.249369  37.239697  33.259041
2019-06-19  36.779999  35.251553  37.248834  33.254271
2019-06-20  36.959999  35.340899  37.478352  33.203445
2019-06-21  36.919998  35.449022  37.678999  33.219046
2019-06-24  36.814999  35.552390  37.836478  33.268302

[2162 rows x 4 columns]

In [26]:
start = '2011-01-02'
price_df2 = price_df.loc[start : ]
price_df2.head(2)

            Adj Close     center         ub         lb
Date
2011-01-03  29.295927  27.433909  29.236157  25.631661
2011-01-04  29.959959  27.569085  29.692262  25.445907

In [28]:
# 거래 내역이라는 파생변수 
price_df2['trade'] = ''

price_df2.head(2)

C:\Users\82104\AppData\Local\Temp\ipykernel_8164\3877629625.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df2['trade'] = ''

            Adj Close     center         ub         lb trade
Date
2011-01-03  29.295927  27.433909  29.236157  25.631661
2011-01-04  29.959959  27.569085  29.692262  25.445907

### 구매 내역 추가
- 조건
    1. 상단 밴드가 종가가 높은 경우
        - 현재 구매 상태이면
            - 매도 /  trade = ''
        - 구매 상태가 아니면
            - 아무 행동도 하지 않는다. trade = ''
    2. 하단 밴드보다 종가가 낮은 경우
        - 현재 구매 상태이면
            - 아무 행동도 하지 않는다. trade = 'buy'
        - 구매 상태가 아니면
            - 매수 trade = 'buy'
    3. 하단 밴드와 상단 밴드 사이에 종가가 존재하는 경우 
        - 현재 구매 상태이면
            - 아무 행동도 하지 않는다. trade = 'buy'
        - 구매 상태가 아니면
            - 아무 행동도 하지 않는다. trade = ''

In [30]:
for i in price_df2.index : 
    # 상단밴드보다 종가가 높은 경우
    if price_df2.loc[i, 'Adj Close'] > price_df2.loc[i, 'ub']:
        # 현재 구매 상태이면 
        if price_df2.shift(1).loc[i, 'trade'] == 'buy' :
            # 매도
            price_df2.loc[i, 'trade'] = '' 
        else : 
            price_df2.loc[i, 'trade'] = '' 
    # 하단밴드보다 종가가 낮은 경우
    elif price_df2.loc[i, 'Adj Close'] < price_df2.loc[i, 'lb']: 
        # 현재 구매 상태이면
        if price_df2.shift(1).loc[i, 'trade'] == 'buy' :
            #구매 상태를 유지
            price_df2.loc[i, 'trade'] = 'buy'
        else:
            #매수
            price_df2.loc[i, 'trade'] = 'buy'
    else :
        # 현재 구매 상태이면
        if price_df2.shift(1).loc[i, 'trade'] == 'buy':
            # 구매 상태를 유지
            price_df2.loc[i, 'trade'] = 'buy'
        else :
            price_df2.loc[i, 'trade'] = ''

In [31]:
price_df2['trade'].value_counts()

buy    1130
       1002
Name: trade, dtype: int64